.btn {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  //
  background-color: var(--color-primary-light);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 160px;
  width: 100px;
  height: 100px;
  transition: all 220ms linear;
  background-color: transparent;
  border: 6px solid #fff;
  &:hover {
    border-color: var(--color-primary-light);
    &:active {
      background-color:var(--color-primary-light);
    }
  }  
}

.btn--start {
  margin-top: 3rem;  
}

.btn--reset {
  // width: auto;
  // background-color: transparent;
  // border: none;
  // text-decoration: underline;
  // display: inline;
  // height: auto;
  // padding: 1rem 0;
  // position: absolute;
  // top: 20rem;
  // left: 0;
  // right: 0;
  // margin: 0 auto;
  width: 100%;
  padding: 1rem;
  height: auto;
  margin-top: 1rem;
}

.btn--add, .btn--remove {
  flex-grow: 1;
}
.btn--pass {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 4px;
  width: fit-content;
  // display: inline-block;
  padding: .25rem .5rem;
  border-width: 4px;
  height: auto;
}

.roundone, .roundtwo, .roundthree {
  position: relative;
}
.btn--next {
  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.controls {
  position: relative;
}