.controls-wrapper {
  padding: 2rem;
  text-align: center;
  h4 {
      font-size: 24px;
  }
  @include mq('tablet') {
    position: relative;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
  padding: 6vh 2rem 4rem 2rem;
  justify-content:center;
}


.btn-group {
  position: relative;
  label {
    position: absolute;
    top: -6vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 64px;
    display: table-cell;
    vertical-align: bottom;
  }
  &.btn-group--pass {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}
.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: transparent;
  border: 6px solid #fff;
  border-radius: 160px;
  width: 100px;
  height: 100px;
  cursor: pointer;
  outline: none;
  transition: all 220ms linear;
  
  &:hover {
    border-color: var(--color-primary-light);

    &:active {
      background-color: var(--color-primary-light);
    }
  }

  &--start {
    margin-top: 3rem;
  }

  &--back {
    width: auto;
    height: auto;
    padding: .5rem;
    border: none;
    text-decoration: underline;
    // position: absolute;
    // left: 0px;
    // top: 68px;
    font-size: .75rem;
  }

  &--reset {
    width: auto;
    height: auto;
    padding: .5rem;
    border: none;
    text-decoration: underline;
    // position: absolute;
    // right: 0px;
    // top: 68px;
    font-size: .75rem;
  }

  &--add,
  &--remove {
    flex-grow: 1;
  }

  &--pass {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 4px;
    width: fit-content;
    height: auto;
    padding: 0.25rem 0.5rem;
    border-width: 4px;
  }

  &--next {
    position: absolute;
    top: 35vh;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.controls {
  position: relative;
}

.roundone,
.roundtwo,
.roundthree {
  position: relative;
}
