.cards-wrapper {
  padding: 1rem 3rem 2rem 3rem;
  @include mq('tablet') {
    padding: 2rem 3rem;
  }
  // border-top: 1px solid #fff;
  // border-bottom: 1px solid #fff;
  border-image: linear-gradient(to right, transparent, var(--color-secondary-50), transparent) 1;
  border-width: 2px;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-top: none;
  overflow: hidden;
  // background: rgb(214,214,214);
  // background: radial-gradient(circle, #fff 2%, transparent 40%);
}
.card {
    // border-radius: 8px;
    // background-color: #F4F4F4;
    color: #454545;
    // border: 16px solid #FCFCFC;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 20vh;
    justify-content: center;
    align-content: center;
    background-color: var(--color-secondary-100);
    border-radius: 4px;
    padding: 3vw;
    box-shadow:
0px 1.9px 2px rgba(0, 0, 0, 0.024),
0px 5.3px 5.5px rgba(0, 0, 0, 0.035),
0px 12.7px 13.3px rgba(0, 0, 0, 0.046),
0px 42px 44px rgba(0, 0, 0, 0.07)
;
  @include mq('tablet') {
    height: 26vh;
    max-width: 480px;
    margin: 0 auto;
  }
  
    h3 {
      text-align: center;
      font-size: 10vw;
      line-height: 9vw;
      font-weight: normal;
      font-family: 'Fredericka the Great', cursive;
      color: #000;
      @include mq('tablet') {
        font-size: 4rem;
        line-height: 2.5vw;
      }
    }
  
    &--deck-starter {
      cursor: pointer;
  
      h3 {
        font-size: 1rem;
        color: var(--color-primary);
        font-weight: bold;
      }
  
      &:hover {
        background-color: #ececec;
      }
  
    }
  }