.controls-wrapper {
    padding: 2rem 0;
    text-align: center;
    border-bottom: 1px dashed #adadad;
    h4 {
        font-size: 24px;
    }
  }
  
  .controls {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    padding: 1rem 2rem 4rem 2rem;
    justify-content: space-between;
  }
  