.v-enter-active,
.v-leave-active {
  transition: opacity 350ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.apple-enter-active {
  animation: slide-up;
  animation-duration: 0.5s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  50% {
    opacity:0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.sli-leave-active {
  animation: slide-left-out;
  animation-duration: 417ms;
  animation-timing-function: cubic-bezier(.65,-.15,.97,.43);
}

.sli-enter-active {
  animation: slide-left-in;
  animation-duration: 487ms;
  animation-timing-function: cubic-bezier(.09,.96,.37,1);
}


@keyframes slide-left-in {
  0% {
    transform: translateY(30vh) rotate(18deg) scale(.9);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}

@keyframes slide-left-out {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  100% {
    transform: translateY(40vh) rotate(-22deg) scale(.9);
  }
}