.v-enter-active,
.v-leave-active {
  transition: opacity 350ms ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.apple-enter-active {
  animation: slide-up;
  animation-duration: 0.5s;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  50% {
    opacity:0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}