@import 'mqs.scss';
@import 'reset.scss';
@import 'vue-transitions.scss';
@import 'btn.scss';
@import 'cards.scss';
@import 'controls.scss';

:root {
  --color-primary: #00A792;
  --color-primary-light: #00D0B7;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: rgb(214,214,214);
  background: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
  overflow: hidden;
}

#app {
  height: 100%;
  @include mq('tablet') {
    max-width: 580px;
    margin: 0 auto;
    height: 800px;
  }
}

.main {
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .75rem;
}

p,
li,
li p,
span {
  margin: .5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 24px;
}

.cnt-block {
  $this: &;

  &--home-header {
    text-align: center;
    border-bottom: 2px dashed #eeeeee;
    padding: .75rem 0;
    color: #313131;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    h1 {
      margin: 0;
      font-size: 1.25rem;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-size: .85rem;
      line-height: 14px;
    }
  }

  &--home-hero {
    text-align: center;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  &--results {
    text-align: center;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    h2 {
      margin: .25rem 0;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        text-align: center;
      }
    }
  }
  &--directions {
    padding-top: 2rem;
  }
}

.title {
  padding: 80px 0 40px 0;
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}

.number {
  padding-top: 0;
  text-align: center;
  line-height: 26px;
  color: #616161;

  span {
    display: inline-block;
    background-color: #fff;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    color: var(--color-primary);
    font-weight: bold;
  }
}

.hide-this,
.hidden {
  visibility: hidden;
  opacity: 0;
}
