@import 'mqs.scss';
@import 'reset.scss';
@import 'vue-transitions.scss';
@import 'btn.scss';
@import 'cards.scss';
@import 'controls.scss';

:root {
  --color-primary: #00A792;
  --color-primary-light: #00D0B7;
  --gradient-option-1: linear-gradient(0deg, rgba(214,214,214,1) 0%, rgba(255,255,255,1) 100%);
  --gradient-option-2: linear-gradient(0deg, rgb(161 147 134) 0%, rgba(255,255,255,1) 100%);
  --color-secondary-200: #dfddd1;
  --color-secondary-100: #f5f4ec;
  --color-secondary-50: #eae8d4; 
  --color-blue-200: #8298a9;
}

body {  
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  height: 100vh;
  background: var(--color-secondary-200);

  overflow: hidden;
}

#app {
  height: 100%;
  @include mq('tablet') {
    max-width: 780px;
    margin: 0 auto;
    height: 800px;
  }
}

.main {
  height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .75rem;
}

p,
li,
li p,
span {
  margin: .5rem;
  padding: 0;
  font-size: 1rem;
  line-height: 24px;
}

.cnt-block {
  $this: &;

  &--home-header {    
    text-align: center;
    padding: .75rem 0;
    color: #313131;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    display: none;
    h1 {
      margin: 0;
      font-size: 1.25rem;
      text-transform: uppercase;
    }
    p {
      margin: 0;
      font-size: .85rem;
      line-height: 14px;
    }
  }

  &--home-hero {
    text-align: center;
    padding: 0;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  &--results {
    text-align: center;
    padding: 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    h2 {
      margin: .25rem 0;
      text-align: center;
    }
    ul {
      list-style: none;
      padding: 0;
      li {
        text-align: center;
        display: inline-block;
        background-color: var(--color-primary-light);
        padding: .25rem .5rem;
        border-radius: 3px;
        margin: 4px;
      }
    }
  }
  &--directions {
    padding-top: 2rem;
  }
}

.title {
  padding: 2vh 0;
  @include mq('tablet') {
    padding: 4vh 0;
  }
  text-align: center;
  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    line-height: 18px;
  }
}

.number {
  padding-top: 0;
  text-align: center;
  line-height: 26px;

  span {
    display: inline-block;
    background-color: #fff;
    border-radius: 100px;
    width: 24px;
    height: 24px;
    color: var(--color-primary);
    font-weight: bold;
  }
}

.hide-this,
.hidden {
  visibility: hidden;
  opacity: 0;
}

:root {
  transition: color 600ms ease-in-out;
}

.round-style-1 {}

.round-style-2 {
  --color-primary: #7f06ea;
  --color-primary-light: #9572b3;
}

.round-style-3 {
  --color-primary: #bf07aa;
  --color-primary-light: #ffddfb;
}